global
    # log /dev/log local0
    # log /dev/log local1 notice
    log stdout format raw local0
    maxconn 4096
    user haproxy
    group haproxy

defaults
    log global
    mode http   # operation at layer 7 (HTTP MODE)
    option httplog  # enable rich http logging
    option dontlognull
    retries 3
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# the front door
frontend my_http_front
    bind *:80
    # capture the client's real ip and pass it down the line 
    option forwardfor
    # route all traffic hitting this frontend to backend pool
    default_backend my_app_backend

# the back pool
backend my_app_backend
    balance roundrobin  # the algorithm
    option httpchk GET /

    # Define the backend nodes
    # check: enables active health checks
    # inter 2s: check every 2 seconds
    # rise 2: mark healthy after 2 consecutive successful checks
    # fall 3: evict from pool after 3 consecutive failed checks

    server app_node_1 flask_app_1:5000 check inter 2s rise 2 fall 3
    server app_node_2 flask_app_2:5000 check inter 2s rise 2 fall 3
    server app_node_3 flask_app_3:5000 check inter 2s rise 2 fall 3

# real time monitoring dashboard
listen haproxy_stats
    bind *:9000
    mode http
    stats enable
    stats uri /
    stats refresh 2s
    stats auth admin:adminsecretpass
